<div class="col-lg-20 d-none d-lg-table-cell">
        <div class="list-group">
            <a class="list-group-item nav-link" href="{% url 'productos:crear' %}">Crear Producto</a>
            <a class="list-group-item nav-link" href="{% url 'productos:buscar' %}">Listar Productos</a>
            <a class="list-group-item nav-link" href="{% url 'ferias:crear' %}">Crear Feria</a>
            <a class="list-group-item nav-link" href="{% url 'ferias:buscar' %}">Listar Ferias</a>
        </div>
</div>